@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

// Fonts
$title-font: 'Poppins', sans-serif;
$content-font: 'Roboto', sans-serif;
$code-font: 'Fira Code', monospace;

// Colours
$white: rgb(255, 255, 255);
$grey: rgb(243, 245, 247);
$darkgrey:#5e6c84;
$black: rgb(21, 38, 66);

$todo: #B620E0;
$inprogress: #FA6400;
$completed: #44D7B6;


// Dimensions
$content-width: 960px;
$max-content-width: calc(100vw - 48px);
