div.sprint.page-wrapper {
  h1 {
    margin: 0;
    text-align: center;
    color: $black;
    font-weight: 500;
    font-family: $title-font;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  h2 {
    margin: 0;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: $darkgrey;
    margin-bottom: 24px;
  }
}